.wrap {
    padding-left: 300px;
    transition: all 0.3s;
    padding-top: 60px;
    background-color: rgba(28, 39, 90, 0.833);
    min-height: calc(100vh - 60px);


    @media (max-width: 768px) {
        padding-left: 0px;
        // transform: translateX(-250px);
    }

}

.children {
    z-index: 50;
    padding-left: 7px;

    overflow: hidden;

    @media (max-width: 768px) {
        padding-left: 0px;
        // transform: translateX(-250px);
    }
}

.content {
    padding: 0px 20px;
    background-color: #f5f5f5;
    min-height: calc(100vh - 60px);
    transition: all 0.3s;
    border-top-left-radius: 10px;
    background-color: #19263efe;
    color: #fff;

    @media (max-width: 768px) {
        padding-left: 0px;
        border-radius: 0px;
        // transform: translateX(-250px);
    }
}