.first_content {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    padding-top: 10px;
}

.wrap_pie {
    width: 400px;
    max-width: 95%;
    padding: 20px;
    border: 2px solid rgb(64 73 115);
    border-radius: 10px;
    display: flex;

    @media (max-width: 768px) {
        border: 0px solid #374f7afe;


    }

}

/* Thiết kế cho table-header */
.table-header {
    font-weight: bold;
}

/* Thiết kế cho table-row */
.table-row {
    transition: background-color 0.3s ease;
    /* Hiệu ứng màu nền chuyển động mềm mại */
    text-align: center;
}

.table-row img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.table-row td {
    padding: 3px 5px;
}



.table-row:hover {
    background-color: #11bc8e;
    /* Màu nền khi di chuột qua */
    cursor: pointer;
}