.wrapper {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5rem;
    background-color: #E7E7E7;
    width: 60vw;
    min-height: 76vh;
    margin-left: 2%;
    box-shadow: 
        0 1px 2px 0 rgba(60,64,67,.1), 
        0 2px 6px 2px rgba(60,64,67,.15);

    .header {
        margin: 0 20px;
        padding: 10px 0px;
        border-bottom: 1px solid #9F9F9F;
        box-sizing: border-box;

        span {
            margin-left: 10px;
            cursor: pointer;
            color: #2E90EB;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding: 20px 40px;

        .avatar {
            margin-right: 20px;

            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .form {
            flex: 1;
            font-size: 20px;

            .form-group {
                margin-bottom: 10px;

                label {
                    display: block;
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                input {
                    width: 80%;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    line-height: 24px;
                    font-size: 16px;
                }
            }
        }
    }

    .actions {
        text-align: center;

    }
}