.homepage {
    box-sizing: border-box;
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 1200px;


    h1 {
        width: 544px;
        height: 188px;
        top: 40px;
        left: 198px;
        gap: 0px;
        font-family: Inspiration;
        font-size: 96px;
        font-weight: 400;
        line-height: 121.92px;
        text-align: left;
        color: #230A6A;
        margin: 100px 0;
    }

    .option {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;

        .option__item {
            width: 295px;
            cursor: pointer;
            text-align: center;

            img {
                max-width: 80%;
                max-height: 80%;
            }

            h3 {
                text-align: center;
                font-family: Itim;
                font-weight: 400;
                font-size: 36px;
                margin-top: 10px;
            }
        }
    }

    .item__container {
        h2 {
            font-family: Itim;
            font-size: 36px;
            font-weight: 400;

        }

        .item {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

@media only screen and (max-width: 1199px) {
    .homepage {
        max-width: 1200px !important;
        padding: 0 10px;
        width: 100% !important;
    }
}