.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header.css */
.wrap_header {
  z-index: 100;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  margin-right: 90px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e8eeef;
  color: rgb(19, 19, 19);
}
.clear {
  padding-top: 63px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  margin-right: 30px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 21px;
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 15px;
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  .user {
    position: relative;
    .notifinumber {
      position: absolute;
      top: 0;
      right: -6px;
      background-color: red;
      color: white;
      border-radius: 50%;
      padding: 2px 5px;
      font-size: 10px;
    }
  }

  .user-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    width: 150px;
    text-align: left;
  }

  .user-menu a {
    display: block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #eaeaea;
  }

  .user-menu a:last-child {
    border-bottom: none;
  }

  .user-menu a:hover {
    background-color: #f5f5f5;
  }

  .user:hover .user-menu {
    display: block;
  }
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  .find_box {
    position: absolute;
    top: 30px;
    width: 400px;
    height: auto;
    min-height: 100px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #a7a6a6;
    border-radius: 16px;
    margin-top: 20px;
    background-color: #e8eeef;
    padding-top: 10px;

    .find_item {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      padding-left: 2px;

      .find_img {
        width: 80px;
        max-height: 80px;
        object-fit: cover;
        margin-right: 10px;
      }

      .find_text {
        font-size: 20px;

        .find_name {
          font-size: 20px;
        }

        .find_price {
          font-size: 20px;
          color: red;
        }
      }
    }
  }
}
.find_box_2 {
  position: absolute;
  top: 100px;
  width: 100%;
  height: auto;
  min-height: 100px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #a7a6a6;
  border-radius: 16px;
  margin-top: 20px;
  background-color: #e8eeef;
  padding-top: 10px;

  .find_item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 2px;

    .find_img {
      width: 80px;
      max-height: 80px;
      object-fit: cover;
      margin-right: 10px;
    }

    .find_text {
      font-size: 20px;

      .find_name {
        font-size: 20px;
      }

      .find_price {
        font-size: 20px;
        color: red;
      }
    }
  }
}
.wrap_notifi {
  position: relative;
  .notification {
    position: absolute;
    top: 40;
    right: -20;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 5px;
    font-size: 8px;
  }
}
.search-input {
  display: block;
  padding: 10px 20px 10px 40px;
  font-size: 16px;
  border-radius: 7px;
  border: 1px solid #ccc;
  width: 300px;
}

.search-icon {
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.search-icon-laptop {
  position: absolute;
  left: 15px;
  color: #a09f9f;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}

.auth-buttons {
  display: flex;
  align-items: center;
}
.auth-buttons button {
  background-color: transparent;
  border: 1px solid white;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.auth-buttons button:hover {
  background-color: #d9d8d8;
  color: #0a0a0a;
}

.menu-icon {
  display: none;
}
@media (min-width: 1401px) {
  .search-input {
    margin-right: 10px;
  }
}
@media (max-width: 1400px) {
  .search-input {
    width: 250px;
  }
}
@media (max-width: 1000px) {
  .search-input {
    width: 200px;
  }
}
@media (max-width: 800px) {
  .nav-links {
    display: none;
  }
  .logo {
    font-size: 24px;
  }
  .search-container .search-input {
    display: none;
  }
  .search-icon {
    display: block;
  }
  .search-icon-laptop {
    display: none;
  }
  .icon-group {
    display: flex;
    gap: 5px;
  }

  .user-section {
    gap: 10px;
  }

  .menu-icon {
    display: block;
  }
  .search-input {
    width: 200px;
  }
  .find_box {
    display: none;
  }
}

.mobile-search {
  display: flex;
  justify-content: center;
  background-color: #e8eeef;
  padding: 10px 0;
}

.mobile-search-input {
  padding: 5px 10px;
  font-size: 19px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 90%;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  background-color: #e8eeef;
  padding: 10px 0;
}

.mobile-menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
}
