.notification{
    width: 50rem;
    border-left: 3px solid #d9d4d4;
    padding: 50px;
    min-height: 50rem;
    .notification-title{
        text-align: center;
        margin-bottom: 30px;
        background-color: rgb(239, 241, 255);
        color: rgb(104, 117, 210);
    }

    
}